html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;

  background: url("../assets/bg.jpg");
  background-size: cover;
}

.tableImg {
  background: url(https://api.dofusdb.fr/img/items/26017.png) center / contain no-repeat;
  height: 100%;
  width: 100%;
}

.cellImg{
  padding:0 !important;
}